.highlight .hll { background-color: #ffffcc }
.highlight  { background: #b0b087; background-color: #b0b087 }
.highlight .c { color: #80817c; background-color: #b0b087 } /* Comment */
.highlight .err { background-color: #b0b087 } /* Error */
.highlight .g { background-color: #b0b087 } /* Generic */
.highlight .k { color: #8b5a00; background-color: #b0b087 } /* Keyword */
.highlight .l { background-color: #b0b087 } /* Literal */
.highlight .n { background-color: #b0b087 } /* Name */
.highlight .o { background-color: #b0b087 } /* Operator */
.highlight .x { background-color: #b0b087 } /* Other */
.highlight .p { background-color: #b0b087 } /* Punctuation */
.highlight .cm { color: #80817c; background-color: #b0b087 } /* Comment.Multiline */
.highlight .cp { color: #0066ff; background-color: #b0b087 } /* Comment.Preproc */
.highlight .c1 { color: #80817c; background-color: #b0b087 } /* Comment.Single */
.highlight .cs { color: #80817c; background-color: #b0b087 } /* Comment.Special */
.highlight .gd { background-color: #b0b087 } /* Generic.Deleted */
.highlight .ge { color: #ffff00; background-color: #b0b087 } /* Generic.Emph */
.highlight .gr { background-color: #b0b087 } /* Generic.Error */
.highlight .gh { background-color: #b0b087 } /* Generic.Heading */
.highlight .gi { background-color: #add8e6 } /* Generic.Inserted */
.highlight .go { color: #8a2be2; background-color: #b0b087 } /* Generic.Output */
.highlight .gp { background-color: #b0b087 } /* Generic.Prompt */
.highlight .gs { background-color: #b0b087 } /* Generic.Strong */
.highlight .gu { background-color: #b0b087 } /* Generic.Subheading */
.highlight .gt { background-color: #b0b087 } /* Generic.Traceback */
.highlight .kc { color: #8b5a00; background-color: #b0b087 } /* Keyword.Constant */
.highlight .kd { color: #8b5a00; background-color: #b0b087 } /* Keyword.Declaration */
.highlight .kn { color: #8b5a00; background-color: #b0b087 } /* Keyword.Namespace */
.highlight .kp { color: #8b5a00; background-color: #b0b087 } /* Keyword.Pseudo */
.highlight .kr { color: #8b5a00; background-color: #b0b087 } /* Keyword.Reserved */
.highlight .kt { color: #626b3e; font-weight: bold; background-color: #b0b087 } /* Keyword.Type */
.highlight .ld { background-color: #b0b087 } /* Literal.Date */
.highlight .m { background-color: #b0b087 } /* Literal.Number */
.highlight .s { color: #0a1b98; background-color: #b0b087 } /* Literal.String */
.highlight .na { color: #b9dad9; font-weight: bold; background-color: #b0b087 } /* Name.Attribute */
.highlight .nb { background-color: #b0b087 } /* Name.Builtin */
.highlight .nc { background-color: #b0b087 } /* Name.Class */
.highlight .no { color: #8b0000; background-color: #b0b087 } /* Name.Constant */
.highlight .nd { background-color: #b0b087 } /* Name.Decorator */
.highlight .ni { color: #7d26cd; background-color: #b0b087 } /* Name.Entity */
.highlight .ne { background-color: #b0b087 } /* Name.Exception */
.highlight .nf { color: #b9dad9; font-weight: bold; background-color: #b0b087 } /* Name.Function */
.highlight .nl { background-color: #b0b087 } /* Name.Label */
.highlight .nn { background-color: #b0b087 } /* Name.Namespace */
.highlight .nx { background-color: #b0b087 } /* Name.Other */
.highlight .py { background-color: #b0b087 } /* Name.Property */
.highlight .nt { color: #8b5a00; background-color: #b0b087 } /* Name.Tag */
.highlight .nv { color: #00008b; background-color: #b0b087 } /* Name.Variable */
.highlight .ow { color: #c2f555; background-color: #b0b087 } /* Operator.Word */
.highlight .w { background-color: #b0b087 } /* Text.Whitespace */
.highlight .mf { background-color: #b0b087 } /* Literal.Number.Float */
.highlight .mh { background-color: #b0b087 } /* Literal.Number.Hex */
.highlight .mi { background-color: #b0b087 } /* Literal.Number.Integer */
.highlight .mo { background-color: #b0b087 } /* Literal.Number.Oct */
.highlight .sb { color: #0a1b98; background-color: #b0b087 } /* Literal.String.Backtick */
.highlight .sc { color: #0a1b98; background-color: #b0b087 } /* Literal.String.Char */
.highlight .sd { color: #0a1b98; background-color: #b0b087 } /* Literal.String.Doc */
.highlight .s2 { color: #0a1b98; background-color: #b0b087 } /* Literal.String.Double */
.highlight .se { color: #0a1b98; background-color: #b0b087 } /* Literal.String.Escape */
.highlight .sh { color: #0a1b98; background-color: #b0b087 } /* Literal.String.Heredoc */
.highlight .si { color: #0a1b98; background-color: #b0b087 } /* Literal.String.Interpol */
.highlight .sx { color: #0a1b98; background-color: #b0b087 } /* Literal.String.Other */
.highlight .sr { color: #0a1b98; background-color: #b0b087 } /* Literal.String.Regex */
.highlight .s1 { color: #0a1b98; background-color: #b0b087 } /* Literal.String.Single */
.highlight .ss { color: #0a1b98; background-color: #b0b087 } /* Literal.String.Symbol */
.highlight .bp { background-color: #b0b087 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #00008b; background-color: #b0b087 } /* Name.Variable.Class */
.highlight .vg { color: #00008b; background-color: #b0b087 } /* Name.Variable.Global */
.highlight .vi { color: #00008b; background-color: #b0b087 } /* Name.Variable.Instance */
.highlight .il { background-color: #b0b087 } /* Literal.Number.Integer.Long */
