.highlight .hll { background-color: #ffffcc }
.highlight  { background: #ffffff; color: #bebebe }
.highlight .c { color: #00ffff; font-weight: bold } /* Comment */
.highlight .err { color: #bebebe } /* Error */
.highlight .g { color: #bebebe } /* Generic */
.highlight .k { color: #ffff00; font-weight: bold } /* Keyword */
.highlight .l { color: #bebebe } /* Literal */
.highlight .n { color: #bebebe } /* Name */
.highlight .o { color: #bebebe } /* Operator */
.highlight .x { color: #bebebe } /* Other */
.highlight .p { color: #bebebe } /* Punctuation */
.highlight .cm { color: #00ffff; font-weight: bold } /* Comment.Multiline */
.highlight .cp { color: #8b008b; font-weight: bold; text-decoration: underline } /* Comment.Preproc */
.highlight .c1 { color: #00ffff; font-weight: bold } /* Comment.Single */
.highlight .cs { color: #00ffff; font-weight: bold } /* Comment.Special */
.highlight .gd { color: #bebebe } /* Generic.Deleted */
.highlight .ge { color: #bebebe } /* Generic.Emph */
.highlight .gr { color: #008b8b; background-color: #000000 } /* Generic.Error */
.highlight .gh { color: #8b008b; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #bebebe } /* Generic.Inserted */
.highlight .go { color: #8b0000; font-weight: bold } /* Generic.Output */
.highlight .gp { color: #bebebe } /* Generic.Prompt */
.highlight .gs { color: #bebebe } /* Generic.Strong */
.highlight .gu { color: #8b008b; font-weight: bold } /* Generic.Subheading */
.highlight .gt { color: #bebebe; font-weight: bold; background-color: #ff0000 } /* Generic.Traceback */
.highlight .kc { color: #ffff00; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #ffff00; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #ffff00; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #ffff00; font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { color: #ffff00; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #90ee90; font-weight: bold; text-decoration: underline } /* Keyword.Type */
.highlight .ld { color: #bebebe } /* Literal.Date */
.highlight .m { color: #bebebe } /* Literal.Number */
.highlight .s { color: #bebebe } /* Literal.String */
.highlight .na { color: #bebebe } /* Name.Attribute */
.highlight .nb { color: #bebebe } /* Name.Builtin */
.highlight .nc { color: #bebebe } /* Name.Class */
.highlight .no { color: #add8e6; font-weight: bold; text-decoration: underline } /* Name.Constant */
.highlight .nd { color: #bebebe } /* Name.Decorator */
.highlight .ni { color: #ff0000; font-weight: bold } /* Name.Entity */
.highlight .ne { color: #bebebe } /* Name.Exception */
.highlight .nf { color: #bebebe } /* Name.Function */
.highlight .nl { color: #bebebe } /* Name.Label */
.highlight .nn { color: #bebebe } /* Name.Namespace */
.highlight .nx { color: #bebebe } /* Name.Other */
.highlight .py { color: #bebebe } /* Name.Property */
.highlight .nt { color: #ffff00; font-weight: bold } /* Name.Tag */
.highlight .nv { color: #a52a2a; text-decoration: underline } /* Name.Variable */
.highlight .ow { color: #bebebe } /* Operator.Word */
.highlight .w { color: #bebebe } /* Text.Whitespace */
.highlight .mf { color: #bebebe } /* Literal.Number.Float */
.highlight .mh { color: #bebebe } /* Literal.Number.Hex */
.highlight .mi { color: #bebebe } /* Literal.Number.Integer */
.highlight .mo { color: #bebebe } /* Literal.Number.Oct */
.highlight .sb { color: #bebebe } /* Literal.String.Backtick */
.highlight .sc { color: #bebebe } /* Literal.String.Char */
.highlight .sd { color: #bebebe } /* Literal.String.Doc */
.highlight .s2 { color: #bebebe } /* Literal.String.Double */
.highlight .se { color: #bebebe } /* Literal.String.Escape */
.highlight .sh { color: #bebebe } /* Literal.String.Heredoc */
.highlight .si { color: #bebebe } /* Literal.String.Interpol */
.highlight .sx { color: #bebebe } /* Literal.String.Other */
.highlight .sr { color: #bebebe } /* Literal.String.Regex */
.highlight .s1 { color: #bebebe } /* Literal.String.Single */
.highlight .ss { color: #bebebe } /* Literal.String.Symbol */
.highlight .bp { color: #bebebe } /* Name.Builtin.Pseudo */
.highlight .vc { color: #a52a2a; text-decoration: underline } /* Name.Variable.Class */
.highlight .vg { color: #a52a2a; text-decoration: underline } /* Name.Variable.Global */
.highlight .vi { color: #a52a2a; text-decoration: underline } /* Name.Variable.Instance */
.highlight .il { color: #bebebe } /* Literal.Number.Integer.Long */
