.highlight .hll { background-color: #ffffcc }
.highlight  { background: #f0f0f0; color: #404040; background-color: #f0f0f0 }
.highlight .c { color: #9098a0; background-color: #f0f0f0 } /* Comment */
.highlight .err { color: #404040; background-color: #f0f0f0 } /* Error */
.highlight .g { color: #404040; background-color: #f0f0f0 } /* Generic */
.highlight .k { color: #606060; background-color: #e0e0e0 } /* Keyword */
.highlight .l { color: #404040; background-color: #f0f0f0 } /* Literal */
.highlight .n { color: #404040; background-color: #f0f0f0 } /* Name */
.highlight .o { color: #404040; background-color: #f0f0f0 } /* Operator */
.highlight .x { color: #404040; background-color: #f0f0f0 } /* Other */
.highlight .p { color: #404040; background-color: #f0f0f0 } /* Punctuation */
.highlight .cm { color: #9098a0; background-color: #f0f0f0 } /* Comment.Multiline */
.highlight .cp { color: #605080; font-style: italic; background-color: #dcd8e0 } /* Comment.Preproc */
.highlight .c1 { color: #9098a0; background-color: #f0f0f0 } /* Comment.Single */
.highlight .cs { color: #9098a0; background-color: #f0f0f0 } /* Comment.Special */
.highlight .gd { color: #ff7f50; background-color: #a62910 } /* Generic.Deleted */
.highlight .ge { color: #202020; text-decoration: underline; background-color: #f0f0f0 } /* Generic.Emph */
.highlight .gr { color: #404040; background-color: #f0f0f0 } /* Generic.Error */
.highlight .gh { color: #202020; text-decoration: underline; background-color: #f0f0f0 } /* Generic.Heading */
.highlight .gi { color: #ffcc7f; background-color: #a67429 } /* Generic.Inserted */
.highlight .go { color: #606060; background-color: #d0d0d0 } /* Generic.Output */
.highlight .gp { color: #404040; background-color: #f0f0f0 } /* Generic.Prompt */
.highlight .gs { color: #404040; background-color: #f0f0f0 } /* Generic.Strong */
.highlight .gu { color: #202020; text-decoration: underline; background-color: #f0f0f0 } /* Generic.Subheading */
.highlight .gt { color: #404040; background-color: #f0f0f0 } /* Generic.Traceback */
.highlight .kc { color: #606060; background-color: #e0e0e0 } /* Keyword.Constant */
.highlight .kd { color: #606060; background-color: #e0e0e0 } /* Keyword.Declaration */
.highlight .kn { color: #606060; background-color: #e0e0e0 } /* Keyword.Namespace */
.highlight .kp { color: #606060; background-color: #e0e0e0 } /* Keyword.Pseudo */
.highlight .kr { color: #606060; background-color: #e0e0e0 } /* Keyword.Reserved */
.highlight .kt { color: #607080; text-decoration: underline; background-color: #f0f0f0 } /* Keyword.Type */
.highlight .ld { color: #404040; background-color: #f0f0f0 } /* Literal.Date */
.highlight .m { color: #508040; background-color: #f0f0f0 } /* Literal.Number */
.highlight .s { color: #a07060; font-style: italic; background-color: #f0ece8 } /* Literal.String */
.highlight .na { color: #b08020; text-decoration: underline; background-color: #f0e8c0 } /* Name.Attribute */
.highlight .nb { color: #404040; background-color: #f0f0f0 } /* Name.Builtin */
.highlight .nc { color: #404040; background-color: #f0f0f0 } /* Name.Class */
.highlight .no { color: #508040; background-color: #f0f0f0 } /* Name.Constant */
.highlight .nd { color: #404040; background-color: #f0f0f0 } /* Name.Decorator */
.highlight .ni { color: #603020; font-style: italic; background-color: #f0ece8 } /* Name.Entity */
.highlight .ne { color: #a03020; font-weight: bold; background-color: #f0f0f0 } /* Name.Exception */
.highlight .nf { color: #b08020; text-decoration: underline; background-color: #f0e8c0 } /* Name.Function */
.highlight .nl { color: #606060; text-decoration: underline; background-color: #e0e0e0 } /* Name.Label */
.highlight .nn { color: #404040; background-color: #f0f0f0 } /* Name.Namespace */
.highlight .nx { color: #404040; background-color: #f0f0f0 } /* Name.Other */
.highlight .py { color: #404040; background-color: #f0f0f0 } /* Name.Property */
.highlight .nt { color: #606060; background-color: #e0e0e0 } /* Name.Tag */
.highlight .nv { color: #608050; background-color: #c0e0c0 } /* Name.Variable */
.highlight .ow { color: #a77039; background-color: #f0f0f0 } /* Operator.Word */
.highlight .w { color: #404040; background-color: #f0f0f0 } /* Text.Whitespace */
.highlight .mf { color: #508040; background-color: #f0f0f0 } /* Literal.Number.Float */
.highlight .mh { color: #508040; background-color: #f0f0f0 } /* Literal.Number.Hex */
.highlight .mi { color: #508040; background-color: #f0f0f0 } /* Literal.Number.Integer */
.highlight .mo { color: #508040; background-color: #f0f0f0 } /* Literal.Number.Oct */
.highlight .sb { color: #a07060; font-style: italic; background-color: #f0ece8 } /* Literal.String.Backtick */
.highlight .sc { color: #a07060; font-style: italic; background-color: #f0ece8 } /* Literal.String.Char */
.highlight .sd { color: #a07060; font-style: italic; background-color: #f0ece8 } /* Literal.String.Doc */
.highlight .s2 { color: #a07060; font-style: italic; background-color: #f0ece8 } /* Literal.String.Double */
.highlight .se { color: #a07060; font-style: italic; background-color: #f0ece8 } /* Literal.String.Escape */
.highlight .sh { color: #a07060; font-style: italic; background-color: #f0ece8 } /* Literal.String.Heredoc */
.highlight .si { color: #a07060; font-style: italic; background-color: #f0ece8 } /* Literal.String.Interpol */
.highlight .sx { color: #a07060; font-style: italic; background-color: #f0ece8 } /* Literal.String.Other */
.highlight .sr { color: #a07060; font-style: italic; background-color: #f0ece8 } /* Literal.String.Regex */
.highlight .s1 { color: #a07060; font-style: italic; background-color: #f0ece8 } /* Literal.String.Single */
.highlight .ss { color: #a07060; font-style: italic; background-color: #f0ece8 } /* Literal.String.Symbol */
.highlight .bp { color: #404040; background-color: #f0f0f0 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #608050; background-color: #c0e0c0 } /* Name.Variable.Class */
.highlight .vg { color: #608050; background-color: #c0e0c0 } /* Name.Variable.Global */
.highlight .vi { color: #608050; background-color: #c0e0c0 } /* Name.Variable.Instance */
.highlight .il { color: #508040; background-color: #f0f0f0 } /* Literal.Number.Integer.Long */
