.highlight .hll { background-color: #ffffcc }
.highlight  { background: #FFFFFF; background-color: #FFFFFF }
.highlight .c { color: #606769; font-weight: bold; background-color: #FFFFFF } /* Comment */
.highlight .err { background-color: #FFFFFF } /* Error */
.highlight .g { background-color: #FFFFFF } /* Generic */
.highlight .k { color: #002A5C; font-weight: bold; background-color: #FFFFFF } /* Keyword */
.highlight .l { background-color: #FFFFFF } /* Literal */
.highlight .n { background-color: #FFFFFF } /* Name */
.highlight .o { background-color: #FFFFFF } /* Operator */
.highlight .x { background-color: #FFFFFF } /* Other */
.highlight .p { background-color: #FFFFFF } /* Punctuation */
.highlight .cm { color: #606769; font-weight: bold; background-color: #FFFFFF } /* Comment.Multiline */
.highlight .cp { color: #7493BE; font-weight: bold; background-color: #FFFFFF } /* Comment.Preproc */
.highlight .c1 { color: #606769; font-weight: bold; background-color: #FFFFFF } /* Comment.Single */
.highlight .cs { color: #606769; font-weight: bold; background-color: #FFFFFF } /* Comment.Special */
.highlight .gd { color: #7493BE; font-weight: bold; background-color: #FCB52D } /* Generic.Deleted */
.highlight .ge { color: #7493BE; text-decoration: underline; background-color: #FFFFFF } /* Generic.Emph */
.highlight .gr { color: #ffffff; background-color: #ff0000 } /* Generic.Error */
.highlight .gh { color: #7493BE; font-weight: bold; background-color: #FFFFFF } /* Generic.Heading */
.highlight .gi { background-color: #A1BAD8 } /* Generic.Inserted */
.highlight .go { color: #606769; background-color: #FFFFFF } /* Generic.Output */
.highlight .gp { background-color: #FFFFFF } /* Generic.Prompt */
.highlight .gs { background-color: #FFFFFF } /* Generic.Strong */
.highlight .gu { color: #7493BE; font-weight: bold; background-color: #FFFFFF } /* Generic.Subheading */
.highlight .gt { color: #ffffff; background-color: #ff0000 } /* Generic.Traceback */
.highlight .kc { color: #002A5C; font-weight: bold; background-color: #FFFFFF } /* Keyword.Constant */
.highlight .kd { color: #002A5C; font-weight: bold; background-color: #FFFFFF } /* Keyword.Declaration */
.highlight .kn { color: #002A5C; font-weight: bold; background-color: #FFFFFF } /* Keyword.Namespace */
.highlight .kp { color: #002A5C; font-weight: bold; background-color: #FFFFFF } /* Keyword.Pseudo */
.highlight .kr { color: #002A5C; font-weight: bold; background-color: #FFFFFF } /* Keyword.Reserved */
.highlight .kt { color: #002A5C; font-weight: bold; background-color: #FFFFFF } /* Keyword.Type */
.highlight .ld { background-color: #FFFFFF } /* Literal.Date */
.highlight .m { background-color: #FFFFFF } /* Literal.Number */
.highlight .s { background-color: #FFFFFF } /* Literal.String */
.highlight .na { background-color: #FFFFFF } /* Name.Attribute */
.highlight .nb { background-color: #FFFFFF } /* Name.Builtin */
.highlight .nc { background-color: #FFFFFF } /* Name.Class */
.highlight .no { color: #80888D; font-weight: bold; background-color: #FFFFFF } /* Name.Constant */
.highlight .nd { background-color: #FFFFFF } /* Name.Decorator */
.highlight .ni { color: #7493BE; background-color: #FFFFFF } /* Name.Entity */
.highlight .ne { background-color: #FFFFFF } /* Name.Exception */
.highlight .nf { background-color: #FFFFFF } /* Name.Function */
.highlight .nl { background-color: #FFFFFF } /* Name.Label */
.highlight .nn { background-color: #FFFFFF } /* Name.Namespace */
.highlight .nx { background-color: #FFFFFF } /* Name.Other */
.highlight .py { background-color: #FFFFFF } /* Name.Property */
.highlight .nt { color: #002A5C; font-weight: bold; background-color: #FFFFFF } /* Name.Tag */
.highlight .nv { color: #7493BE; font-weight: bold; background-color: #FFFFFF } /* Name.Variable */
.highlight .ow { background-color: #FFFFFF } /* Operator.Word */
.highlight .w { background-color: #FFFFFF } /* Text.Whitespace */
.highlight .mf { background-color: #FFFFFF } /* Literal.Number.Float */
.highlight .mh { background-color: #FFFFFF } /* Literal.Number.Hex */
.highlight .mi { background-color: #FFFFFF } /* Literal.Number.Integer */
.highlight .mo { background-color: #FFFFFF } /* Literal.Number.Oct */
.highlight .sb { background-color: #FFFFFF } /* Literal.String.Backtick */
.highlight .sc { background-color: #FFFFFF } /* Literal.String.Char */
.highlight .sd { background-color: #FFFFFF } /* Literal.String.Doc */
.highlight .s2 { background-color: #FFFFFF } /* Literal.String.Double */
.highlight .se { background-color: #FFFFFF } /* Literal.String.Escape */
.highlight .sh { background-color: #FFFFFF } /* Literal.String.Heredoc */
.highlight .si { background-color: #FFFFFF } /* Literal.String.Interpol */
.highlight .sx { background-color: #FFFFFF } /* Literal.String.Other */
.highlight .sr { background-color: #FFFFFF } /* Literal.String.Regex */
.highlight .s1 { background-color: #FFFFFF } /* Literal.String.Single */
.highlight .ss { background-color: #FFFFFF } /* Literal.String.Symbol */
.highlight .bp { background-color: #FFFFFF } /* Name.Builtin.Pseudo */
.highlight .vc { color: #7493BE; font-weight: bold; background-color: #FFFFFF } /* Name.Variable.Class */
.highlight .vg { color: #7493BE; font-weight: bold; background-color: #FFFFFF } /* Name.Variable.Global */
.highlight .vi { color: #7493BE; font-weight: bold; background-color: #FFFFFF } /* Name.Variable.Instance */
.highlight .il { background-color: #FFFFFF } /* Literal.Number.Integer.Long */
