.highlight .hll { background-color: #ffffcc }
.highlight  { background: #ffffff; }
.highlight .c { color: #008b8b } /* Comment */
.highlight .k { font-weight: bold } /* Keyword */
.highlight .cm { color: #008b8b } /* Comment.Multiline */
.highlight .cp { color: #8a2be2 } /* Comment.Preproc */
.highlight .c1 { color: #008b8b } /* Comment.Single */
.highlight .cs { color: #008b8b } /* Comment.Special */
.highlight .gr { color: #ff0000; background-color: #ff0000 } /* Generic.Error */
.highlight .kc { font-weight: bold } /* Keyword.Constant */
.highlight .kd { font-weight: bold } /* Keyword.Declaration */
.highlight .kn { font-weight: bold } /* Keyword.Namespace */
.highlight .kp { font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #ff00ff; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #ff0000; font-weight: bold; text-decoration: underline } /* Literal.Number */
.highlight .no { color: #ff0000; text-decoration: underline } /* Name.Constant */
.highlight .ni { color: #ff0000; font-weight: bold } /* Name.Entity */
.highlight .nt { font-weight: bold } /* Name.Tag */
.highlight .mf { color: #ff0000; font-weight: bold; text-decoration: underline } /* Literal.Number.Float */
.highlight .mh { color: #ff0000; font-weight: bold; text-decoration: underline } /* Literal.Number.Hex */
.highlight .mi { color: #ff0000; font-weight: bold; text-decoration: underline } /* Literal.Number.Integer */
.highlight .mo { color: #ff0000; font-weight: bold; text-decoration: underline } /* Literal.Number.Oct */
.highlight .il { color: #ff0000; font-weight: bold; text-decoration: underline } /* Literal.Number.Integer.Long */
