.highlight .hll { background-color: #ffffcc }
.highlight  { background: #600000; background-color: #600000 }
.highlight .c { color: #ffffff; background-color: #600000 } /* Comment */
.highlight .err { background-color: #600000 } /* Error */
.highlight .g { background-color: #600000 } /* Generic */
.highlight .k { color: #eeff99; font-weight: bold; background-color: #600000 } /* Keyword */
.highlight .l { background-color: #600000 } /* Literal */
.highlight .n { background-color: #600000 } /* Name */
.highlight .o { background-color: #600000 } /* Operator */
.highlight .x { background-color: #600000 } /* Other */
.highlight .p { background-color: #600000 } /* Punctuation */
.highlight .cm { color: #ffffff; background-color: #600000 } /* Comment.Multiline */
.highlight .cp { color: #ff3030; font-style: italic; background-color: #600000 } /* Comment.Preproc */
.highlight .c1 { color: #ffffff; background-color: #600000 } /* Comment.Single */
.highlight .cs { color: #ffffff; background-color: #600000 } /* Comment.Special */
.highlight .gd { background-color: #600000 } /* Generic.Deleted */
.highlight .ge { background-color: #600000 } /* Generic.Emph */
.highlight .gr { color: #ff0000; background-color: #ffffff } /* Generic.Error */
.highlight .gh { background-color: #600000 } /* Generic.Heading */
.highlight .gi { background-color: #600000 } /* Generic.Inserted */
.highlight .go { background-color: #600000 } /* Generic.Output */
.highlight .gp { background-color: #600000 } /* Generic.Prompt */
.highlight .gs { background-color: #600000 } /* Generic.Strong */
.highlight .gu { background-color: #600000 } /* Generic.Subheading */
.highlight .gt { color: #c00000; background-color: #ff0000 } /* Generic.Traceback */
.highlight .kc { color: #eeff99; font-weight: bold; background-color: #600000 } /* Keyword.Constant */
.highlight .kd { color: #eeff99; font-weight: bold; background-color: #600000 } /* Keyword.Declaration */
.highlight .kn { color: #eeff99; font-weight: bold; background-color: #600000 } /* Keyword.Namespace */
.highlight .kp { color: #eeff99; font-weight: bold; background-color: #600000 } /* Keyword.Pseudo */
.highlight .kr { color: #eeff99; font-weight: bold; background-color: #600000 } /* Keyword.Reserved */
.highlight .kt { color: #88ffaa; background-color: #600000 } /* Keyword.Type */
.highlight .ld { background-color: #600000 } /* Literal.Date */
.highlight .m { color: #88ddee; background-color: #600000 } /* Literal.Number */
.highlight .s { color: #ffcc88; background-color: #600000 } /* Literal.String */
.highlight .na { background-color: #600000 } /* Name.Attribute */
.highlight .nb { background-color: #600000 } /* Name.Builtin */
.highlight .nc { background-color: #600000 } /* Name.Class */
.highlight .no { color: #88ddee; background-color: #600000 } /* Name.Constant */
.highlight .nd { background-color: #600000 } /* Name.Decorator */
.highlight .ni { color: #ffaa00; background-color: #600000 } /* Name.Entity */
.highlight .ne { background-color: #600000 } /* Name.Exception */
.highlight .nf { background-color: #600000 } /* Name.Function */
.highlight .nl { background-color: #600000 } /* Name.Label */
.highlight .nn { background-color: #600000 } /* Name.Namespace */
.highlight .nx { background-color: #600000 } /* Name.Other */
.highlight .py { background-color: #600000 } /* Name.Property */
.highlight .nt { color: #eeff99; font-weight: bold; background-color: #600000 } /* Name.Tag */
.highlight .nv { color: #cfcfcf; background-color: #600000 } /* Name.Variable */
.highlight .ow { background-color: #600000 } /* Operator.Word */
.highlight .w { background-color: #600000 } /* Text.Whitespace */
.highlight .mf { color: #88ddee; background-color: #600000 } /* Literal.Number.Float */
.highlight .mh { color: #88ddee; background-color: #600000 } /* Literal.Number.Hex */
.highlight .mi { color: #88ddee; background-color: #600000 } /* Literal.Number.Integer */
.highlight .mo { color: #88ddee; background-color: #600000 } /* Literal.Number.Oct */
.highlight .sb { color: #ffcc88; background-color: #600000 } /* Literal.String.Backtick */
.highlight .sc { color: #ffcc88; background-color: #600000 } /* Literal.String.Char */
.highlight .sd { color: #ffcc88; background-color: #600000 } /* Literal.String.Doc */
.highlight .s2 { color: #ffcc88; background-color: #600000 } /* Literal.String.Double */
.highlight .se { color: #ffcc88; background-color: #600000 } /* Literal.String.Escape */
.highlight .sh { color: #ffcc88; background-color: #600000 } /* Literal.String.Heredoc */
.highlight .si { color: #ffcc88; background-color: #600000 } /* Literal.String.Interpol */
.highlight .sx { color: #ffcc88; background-color: #600000 } /* Literal.String.Other */
.highlight .sr { color: #ffcc88; background-color: #600000 } /* Literal.String.Regex */
.highlight .s1 { color: #ffcc88; background-color: #600000 } /* Literal.String.Single */
.highlight .ss { color: #ffcc88; background-color: #600000 } /* Literal.String.Symbol */
.highlight .bp { background-color: #600000 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #cfcfcf; background-color: #600000 } /* Name.Variable.Class */
.highlight .vg { color: #cfcfcf; background-color: #600000 } /* Name.Variable.Global */
.highlight .vi { color: #cfcfcf; background-color: #600000 } /* Name.Variable.Instance */
.highlight .il { color: #88ddee; background-color: #600000 } /* Literal.Number.Integer.Long */
