.highlight .hll { background-color: #ffffcc }
.highlight  { background: #202020; color: #949F92; background-color: #202020 }
.highlight .c { color: #887C6B; background-color: #202020 } /* Comment */
.highlight .err { color: #949F92; background-color: #202020 } /* Error */
.highlight .g { color: #949F92; background-color: #202020 } /* Generic */
.highlight .k { color: #BDCB28; background-color: #202020 } /* Keyword */
.highlight .l { color: #949F92; background-color: #202020 } /* Literal */
.highlight .n { color: #949F92; background-color: #202020 } /* Name */
.highlight .o { color: #949F92; background-color: #202020 } /* Operator */
.highlight .x { color: #949F92; background-color: #202020 } /* Other */
.highlight .p { color: #949F92; background-color: #202020 } /* Punctuation */
.highlight .cm { color: #887C6B; background-color: #202020 } /* Comment.Multiline */
.highlight .cp { color: #D82626; background-color: #202020 } /* Comment.Preproc */
.highlight .c1 { color: #887C6B; background-color: #202020 } /* Comment.Single */
.highlight .cs { color: #887C6B; background-color: #202020 } /* Comment.Special */
.highlight .gd { color: #FF0000; background-color: #E85500 } /* Generic.Deleted */
.highlight .ge { color: #415FB8; text-decoration: underline; background-color: #202020 } /* Generic.Emph */
.highlight .gr { color: #E80000; background-color: #432323 } /* Generic.Error */
.highlight .gh { color: #FF9500; background-color: #202020 } /* Generic.Heading */
.highlight .gi { color: #00CFFF; background-color: #313c36 } /* Generic.Inserted */
.highlight .go { color: #FF7F00; background-color: #202020 } /* Generic.Output */
.highlight .gp { color: #949F92; background-color: #202020 } /* Generic.Prompt */
.highlight .gs { color: #949F92; background-color: #202020 } /* Generic.Strong */
.highlight .gu { color: #FF9500; background-color: #202020 } /* Generic.Subheading */
.highlight .gt { color: #ee0000; background-color: #202020 } /* Generic.Traceback */
.highlight .kc { color: #BDCB28; background-color: #202020 } /* Keyword.Constant */
.highlight .kd { color: #BDCB28; background-color: #202020 } /* Keyword.Declaration */
.highlight .kn { color: #BDCB28; background-color: #202020 } /* Keyword.Namespace */
.highlight .kp { color: #BDCB28; background-color: #202020 } /* Keyword.Pseudo */
.highlight .kr { color: #BDCB28; background-color: #202020 } /* Keyword.Reserved */
.highlight .kt { color: #60A0B7; background-color: #202020 } /* Keyword.Type */
.highlight .ld { color: #949F92; background-color: #202020 } /* Literal.Date */
.highlight .m { color: #A3ABB7; background-color: #202020 } /* Literal.Number */
.highlight .s { color: #ADADAD; background-color: #202020 } /* Literal.String */
.highlight .na { color: #C4AD87; background-color: #202020 } /* Name.Attribute */
.highlight .nb { color: #949F92; background-color: #202020 } /* Name.Builtin */
.highlight .nc { color: #949F92; background-color: #202020 } /* Name.Class */
.highlight .no { color: #8CD0D3; background-color: #202020 } /* Name.Constant */
.highlight .nd { color: #949F92; background-color: #202020 } /* Name.Decorator */
.highlight .ni { color: #FEF896; background-color: #202020 } /* Name.Entity */
.highlight .ne { color: #FF7900; background-color: #202020 } /* Name.Exception */
.highlight .nf { color: #C4AD87; background-color: #202020 } /* Name.Function */
.highlight .nl { color: #CD00CC; background-color: #202020 } /* Name.Label */
.highlight .nn { color: #949F92; background-color: #202020 } /* Name.Namespace */
.highlight .nx { color: #949F92; background-color: #202020 } /* Name.Other */
.highlight .py { color: #949F92; background-color: #202020 } /* Name.Property */
.highlight .nt { color: #BDCB28; background-color: #202020 } /* Name.Tag */
.highlight .nv { color: #C4AD87; background-color: #202020 } /* Name.Variable */
.highlight .ow { color: #1560BD; background-color: #202020 } /* Operator.Word */
.highlight .w { color: #949F92; background-color: #202020 } /* Text.Whitespace */
.highlight .mf { color: #B94E48; background-color: #202020 } /* Literal.Number.Float */
.highlight .mh { color: #A3ABB7; background-color: #202020 } /* Literal.Number.Hex */
.highlight .mi { color: #A3ABB7; background-color: #202020 } /* Literal.Number.Integer */
.highlight .mo { color: #A3ABB7; background-color: #202020 } /* Literal.Number.Oct */
.highlight .sb { color: #ADADAD; background-color: #202020 } /* Literal.String.Backtick */
.highlight .sc { color: #ADADAD; background-color: #202020 } /* Literal.String.Char */
.highlight .sd { color: #ADADAD; background-color: #202020 } /* Literal.String.Doc */
.highlight .s2 { color: #ADADAD; background-color: #202020 } /* Literal.String.Double */
.highlight .se { color: #ADADAD; background-color: #202020 } /* Literal.String.Escape */
.highlight .sh { color: #ADADAD; background-color: #202020 } /* Literal.String.Heredoc */
.highlight .si { color: #ADADAD; background-color: #202020 } /* Literal.String.Interpol */
.highlight .sx { color: #ADADAD; background-color: #202020 } /* Literal.String.Other */
.highlight .sr { color: #ADADAD; background-color: #202020 } /* Literal.String.Regex */
.highlight .s1 { color: #ADADAD; background-color: #202020 } /* Literal.String.Single */
.highlight .ss { color: #ADADAD; background-color: #202020 } /* Literal.String.Symbol */
.highlight .bp { color: #949F92; background-color: #202020 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #C4AD87; background-color: #202020 } /* Name.Variable.Class */
.highlight .vg { color: #C4AD87; background-color: #202020 } /* Name.Variable.Global */
.highlight .vi { color: #C4AD87; background-color: #202020 } /* Name.Variable.Instance */
.highlight .il { color: #A3ABB7; background-color: #202020 } /* Literal.Number.Integer.Long */
