.highlight .hll { background-color: #ffffcc }
.highlight  { background: #3f3f3f; color: #dcdccc; background-color: #3f3f3f }
.highlight .c { color: #7f9f7f; font-style: italic; background-color: #3f3f3f } /* Comment */
.highlight .err { color: #dcdccc; background-color: #3f3f3f } /* Error */
.highlight .g { color: #dcdccc; background-color: #3f3f3f } /* Generic */
.highlight .k { color: #6fb86f; background-color: #3f3f3f } /* Keyword */
.highlight .l { color: #dcdccc; background-color: #3f3f3f } /* Literal */
.highlight .n { color: #dcdccc; background-color: #3f3f3f } /* Name */
.highlight .o { color: #dcdccc; background-color: #3f3f3f } /* Operator */
.highlight .x { color: #dcdccc; background-color: #3f3f3f } /* Other */
.highlight .p { color: #dcdccc; background-color: #3f3f3f } /* Punctuation */
.highlight .cm { color: #7f9f7f; font-style: italic; background-color: #3f3f3f } /* Comment.Multiline */
.highlight .cp { color: #ffb23f; font-weight: bold; font-style: italic; background-color: #3f3f3f } /* Comment.Preproc */
.highlight .c1 { color: #7f9f7f; font-style: italic; background-color: #3f3f3f } /* Comment.Single */
.highlight .cs { color: #7f9f7f; font-style: italic; background-color: #3f3f3f } /* Comment.Special */
.highlight .gd { color: #333333; background-color: #464646 } /* Generic.Deleted */
.highlight .ge { color: #dcdccc; font-weight: bold; text-decoration: underline; background-color: #3f3f3f } /* Generic.Emph */
.highlight .gr { color: #e37170; font-weight: bold; background-color: #332323 } /* Generic.Error */
.highlight .gh { color: #efefef; font-weight: bold; background-color: #3f3f3f } /* Generic.Heading */
.highlight .gi { color: #709080; font-weight: bold; background-color: #313c36 } /* Generic.Inserted */
.highlight .go { color: #404040; background-color: #3f3f3f } /* Generic.Output */
.highlight .gp { color: #dcdccc; background-color: #3f3f3f } /* Generic.Prompt */
.highlight .gs { color: #dcdccc; background-color: #3f3f3f } /* Generic.Strong */
.highlight .gu { color: #efefef; font-weight: bold; background-color: #3f3f3f } /* Generic.Subheading */
.highlight .gt { color: #80d4aa; font-weight: bold; background-color: #2f2f2f } /* Generic.Traceback */
.highlight .kc { color: #6fb86f; background-color: #3f3f3f } /* Keyword.Constant */
.highlight .kd { color: #6fb86f; background-color: #3f3f3f } /* Keyword.Declaration */
.highlight .kn { color: #6fb86f; background-color: #3f3f3f } /* Keyword.Namespace */
.highlight .kp { color: #6fb86f; background-color: #3f3f3f } /* Keyword.Pseudo */
.highlight .kr { color: #6fb86f; background-color: #3f3f3f } /* Keyword.Reserved */
.highlight .kt { color: #dfdfbf; font-weight: bold; background-color: #3f3f3f } /* Keyword.Type */
.highlight .ld { color: #dcdccc; background-color: #3f3f3f } /* Literal.Date */
.highlight .m { color: #8cd0d3; background-color: #3f3f3f } /* Literal.Number */
.highlight .s { color: #b75151; background-color: #3f3f3f } /* Literal.String */
.highlight .na { color: #efef8f; background-color: #3f3f3f } /* Name.Attribute */
.highlight .nb { color: #dcdccc; background-color: #3f3f3f } /* Name.Builtin */
.highlight .nc { color: #dcdccc; background-color: #3f3f3f } /* Name.Class */
.highlight .no { color: #dca3a3; font-weight: bold; background-color: #3f3f3f } /* Name.Constant */
.highlight .nd { color: #dcdccc; background-color: #3f3f3f } /* Name.Decorator */
.highlight .ni { color: #9fbfd6; background-color: #3f3f3f } /* Name.Entity */
.highlight .ne { color: #c3bf9f; font-weight: bold; background-color: #3f3f3f } /* Name.Exception */
.highlight .nf { color: #efef8f; background-color: #3f3f3f } /* Name.Function */
.highlight .nl { color: #dfcfaf; text-decoration: underline; background-color: #3f3f3f } /* Name.Label */
.highlight .nn { color: #dcdccc; background-color: #3f3f3f } /* Name.Namespace */
.highlight .nx { color: #dcdccc; background-color: #3f3f3f } /* Name.Other */
.highlight .py { color: #dcdccc; background-color: #3f3f3f } /* Name.Property */
.highlight .nt { color: #6fb86f; background-color: #3f3f3f } /* Name.Tag */
.highlight .nv { color: #dcdcdc; background-color: #3f3f3f } /* Name.Variable */
.highlight .ow { color: #f0efd0; background-color: #3f3f3f } /* Operator.Word */
.highlight .w { color: #dcdccc; background-color: #3f3f3f } /* Text.Whitespace */
.highlight .mf { color: #c0bed1; background-color: #3f3f3f } /* Literal.Number.Float */
.highlight .mh { color: #8cd0d3; background-color: #3f3f3f } /* Literal.Number.Hex */
.highlight .mi { color: #8cd0d3; background-color: #3f3f3f } /* Literal.Number.Integer */
.highlight .mo { color: #8cd0d3; background-color: #3f3f3f } /* Literal.Number.Oct */
.highlight .sb { color: #b75151; background-color: #3f3f3f } /* Literal.String.Backtick */
.highlight .sc { color: #b75151; background-color: #3f3f3f } /* Literal.String.Char */
.highlight .sd { color: #b75151; background-color: #3f3f3f } /* Literal.String.Doc */
.highlight .s2 { color: #b75151; background-color: #3f3f3f } /* Literal.String.Double */
.highlight .se { color: #b75151; background-color: #3f3f3f } /* Literal.String.Escape */
.highlight .sh { color: #b75151; background-color: #3f3f3f } /* Literal.String.Heredoc */
.highlight .si { color: #b75151; background-color: #3f3f3f } /* Literal.String.Interpol */
.highlight .sx { color: #b75151; background-color: #3f3f3f } /* Literal.String.Other */
.highlight .sr { color: #b75151; background-color: #3f3f3f } /* Literal.String.Regex */
.highlight .s1 { color: #b75151; background-color: #3f3f3f } /* Literal.String.Single */
.highlight .ss { color: #b75151; background-color: #3f3f3f } /* Literal.String.Symbol */
.highlight .bp { color: #dcdccc; background-color: #3f3f3f } /* Name.Builtin.Pseudo */
.highlight .vc { color: #dcdcdc; background-color: #3f3f3f } /* Name.Variable.Class */
.highlight .vg { color: #dcdcdc; background-color: #3f3f3f } /* Name.Variable.Global */
.highlight .vi { color: #dcdcdc; background-color: #3f3f3f } /* Name.Variable.Instance */
.highlight .il { color: #8cd0d3; background-color: #3f3f3f } /* Literal.Number.Integer.Long */
