.highlight .hll { background-color: #ffffcc }
.highlight  { background: #282828; color: #b0b0b0; background-color: #282828 }
.highlight .c { color: #5d5dcb; background-color: #282828 } /* Comment */
.highlight .err { color: #b0b0b0; background-color: #282828 } /* Error */
.highlight .g { color: #b0b0b0; background-color: #282828 } /* Generic */
.highlight .k { color: #65c76a; background-color: #282828 } /* Keyword */
.highlight .l { color: #b0b0b0; background-color: #282828 } /* Literal */
.highlight .n { color: #b0b0b0; background-color: #282828 } /* Name */
.highlight .o { color: #b0b0b0; background-color: #282828 } /* Operator */
.highlight .x { color: #b0b0b0; background-color: #282828 } /* Other */
.highlight .p { color: #b0b0b0; background-color: #282828 } /* Punctuation */
.highlight .cm { color: #5d5dcb; background-color: #282828 } /* Comment.Multiline */
.highlight .cp { color: #6b33ff; background-color: #181818 } /* Comment.Preproc */
.highlight .c1 { color: #5d5dcb; background-color: #282828 } /* Comment.Single */
.highlight .cs { color: #5d5dcb; background-color: #282828 } /* Comment.Special */
.highlight .gd { color: #b0b0b0; background-color: #3e535c } /* Generic.Deleted */
.highlight .ge { color: #8962ce; text-decoration: underline; background-color: #282828 } /* Generic.Emph */
.highlight .gr { color: #b0b0b0; background-color: #282828 } /* Generic.Error */
.highlight .gh { color: #d090f0; background-color: #282828 } /* Generic.Heading */
.highlight .gi { color: #b0b0b0; background-color: #283734 } /* Generic.Inserted */
.highlight .go { color: #606060; background-color: #282828 } /* Generic.Output */
.highlight .gp { color: #b0b0b0; background-color: #282828 } /* Generic.Prompt */
.highlight .gs { color: #b0b0b0; background-color: #282828 } /* Generic.Strong */
.highlight .gu { color: #d090f0; background-color: #282828 } /* Generic.Subheading */
.highlight .gt { color: #ffffff; background-color: #880000 } /* Generic.Traceback */
.highlight .kc { color: #65c76a; background-color: #282828 } /* Keyword.Constant */
.highlight .kd { color: #65c76a; background-color: #282828 } /* Keyword.Declaration */
.highlight .kn { color: #65c76a; background-color: #282828 } /* Keyword.Namespace */
.highlight .kp { color: #65c76a; background-color: #282828 } /* Keyword.Pseudo */
.highlight .kr { color: #65c76a; background-color: #282828 } /* Keyword.Reserved */
.highlight .kt { color: #417047; background-color: #282828 } /* Keyword.Type */
.highlight .ld { color: #b0b0b0; background-color: #282828 } /* Literal.Date */
.highlight .m { color: #5b68a8; background-color: #181818 } /* Literal.Number */
.highlight .s { color: #7c5ad1; background-color: #1c1c1c } /* Literal.String */
.highlight .na { color: #9cc846; background-color: #282828 } /* Name.Attribute */
.highlight .nb { color: #b0b0b0; background-color: #282828 } /* Name.Builtin */
.highlight .nc { color: #b0b0b0; background-color: #282828 } /* Name.Class */
.highlight .no { color: #c77575; background-color: #282828 } /* Name.Constant */
.highlight .nd { color: #b0b0b0; background-color: #282828 } /* Name.Decorator */
.highlight .ni { color: #6a4ee7; background-color: #282828 } /* Name.Entity */
.highlight .ne { color: #b0b0b0; background-color: #282828 } /* Name.Exception */
.highlight .nf { color: #9cc846; background-color: #282828 } /* Name.Function */
.highlight .nl { color: #eba700; background-color: #4c4646 } /* Name.Label */
.highlight .nn { color: #b0b0b0; background-color: #282828 } /* Name.Namespace */
.highlight .nx { color: #b0b0b0; background-color: #282828 } /* Name.Other */
.highlight .py { color: #b0b0b0; background-color: #282828 } /* Name.Property */
.highlight .nt { color: #65c76a; background-color: #282828 } /* Name.Tag */
.highlight .nv { color: #9f7951; background-color: #282828 } /* Name.Variable */
.highlight .ow { color: #718da7; background-color: #282828 } /* Operator.Word */
.highlight .w { color: #b0b0b0; background-color: #282828 } /* Text.Whitespace */
.highlight .mf { color: #5b68a8; background-color: #181818 } /* Literal.Number.Float */
.highlight .mh { color: #5b68a8; background-color: #181818 } /* Literal.Number.Hex */
.highlight .mi { color: #5b68a8; background-color: #181818 } /* Literal.Number.Integer */
.highlight .mo { color: #5b68a8; background-color: #181818 } /* Literal.Number.Oct */
.highlight .sb { color: #7c5ad1; background-color: #1c1c1c } /* Literal.String.Backtick */
.highlight .sc { color: #7c5ad1; background-color: #1c1c1c } /* Literal.String.Char */
.highlight .sd { color: #7c5ad1; background-color: #1c1c1c } /* Literal.String.Doc */
.highlight .s2 { color: #7c5ad1; background-color: #1c1c1c } /* Literal.String.Double */
.highlight .se { color: #7c5ad1; background-color: #1c1c1c } /* Literal.String.Escape */
.highlight .sh { color: #7c5ad1; background-color: #1c1c1c } /* Literal.String.Heredoc */
.highlight .si { color: #7c5ad1; background-color: #1c1c1c } /* Literal.String.Interpol */
.highlight .sx { color: #7c5ad1; background-color: #1c1c1c } /* Literal.String.Other */
.highlight .sr { color: #7c5ad1; background-color: #1c1c1c } /* Literal.String.Regex */
.highlight .s1 { color: #7c5ad1; background-color: #1c1c1c } /* Literal.String.Single */
.highlight .ss { color: #7c5ad1; background-color: #1c1c1c } /* Literal.String.Symbol */
.highlight .bp { color: #b0b0b0; background-color: #282828 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #9f7951; background-color: #282828 } /* Name.Variable.Class */
.highlight .vg { color: #9f7951; background-color: #282828 } /* Name.Variable.Global */
.highlight .vi { color: #9f7951; background-color: #282828 } /* Name.Variable.Instance */
.highlight .il { color: #5b68a8; background-color: #181818 } /* Literal.Number.Integer.Long */
