.highlight .hll { background-color: #ffffcc }
.highlight  { background: #080808; color: #dfdfff; background-color: #080808 }
.highlight .c { color: #af8787; background-color: #080808 } /* Comment */
.highlight .err { color: #dfdfff; background-color: #080808 } /* Error */
.highlight .g { color: #dfdfff; background-color: #080808 } /* Generic */
.highlight .k { color: #5f5fff; font-weight: bold; background-color: #080808 } /* Keyword */
.highlight .l { color: #dfdfff; background-color: #080808 } /* Literal */
.highlight .n { color: #dfdfff; background-color: #080808 } /* Name */
.highlight .o { color: #dfdfff; background-color: #080808 } /* Operator */
.highlight .x { color: #dfdfff; background-color: #080808 } /* Other */
.highlight .p { color: #dfdfff; background-color: #080808 } /* Punctuation */
.highlight .cm { color: #af8787; background-color: #080808 } /* Comment.Multiline */
.highlight .cp { color: #00af87; font-weight: bold; background-color: #080808 } /* Comment.Preproc */
.highlight .c1 { color: #af8787; background-color: #080808 } /* Comment.Single */
.highlight .cs { color: #af8787; background-color: #080808 } /* Comment.Special */
.highlight .gd { color: #5f5f00; background-color: #5f0000 } /* Generic.Deleted */
.highlight .ge { color: #ffff5f; text-decoration: underline; background-color: #080808 } /* Generic.Emph */
.highlight .gr { color: #ffffff; font-weight: bold; background-color: #5f0000 } /* Generic.Error */
.highlight .gh { color: #afafff; font-weight: bold; background-color: #080808 } /* Generic.Heading */
.highlight .gi { color: #dfdfff; background-color: #000087 } /* Generic.Inserted */
.highlight .go { color: #606060; font-weight: bold; background-color: #121212 } /* Generic.Output */
.highlight .gp { color: #dfdfff; background-color: #080808 } /* Generic.Prompt */
.highlight .gs { color: #dfdfff; background-color: #080808 } /* Generic.Strong */
.highlight .gu { color: #afafff; font-weight: bold; background-color: #080808 } /* Generic.Subheading */
.highlight .gt { color: #eeeeee; background-color: #870000 } /* Generic.Traceback */
.highlight .kc { color: #5f5fff; font-weight: bold; background-color: #080808 } /* Keyword.Constant */
.highlight .kd { color: #5f5fff; font-weight: bold; background-color: #080808 } /* Keyword.Declaration */
.highlight .kn { color: #5f5fff; font-weight: bold; background-color: #080808 } /* Keyword.Namespace */
.highlight .kp { color: #5f5fff; font-weight: bold; background-color: #080808 } /* Keyword.Pseudo */
.highlight .kr { color: #5f5fff; font-weight: bold; background-color: #080808 } /* Keyword.Reserved */
.highlight .kt { color: #5faf5f; font-weight: bold; background-color: #080808 } /* Keyword.Type */
.highlight .ld { color: #dfdfff; background-color: #080808 } /* Literal.Date */
.highlight .m { color: #00af00; background-color: #080808 } /* Literal.Number */
.highlight .s { color: #ffaf5f; background-color: #262626 } /* Literal.String */
.highlight .na { color: #ff8787; background-color: #080808 } /* Name.Attribute */
.highlight .nb { color: #dfdfff; background-color: #080808 } /* Name.Builtin */
.highlight .nc { color: #dfdfff; background-color: #080808 } /* Name.Class */
.highlight .no { color: #ffaf5f; background-color: #080808 } /* Name.Constant */
.highlight .nd { color: #dfdfff; background-color: #080808 } /* Name.Decorator */
.highlight .ni { color: #5fffff; background-color: #262626 } /* Name.Entity */
.highlight .ne { color: #875fff; font-weight: bold; background-color: #080808 } /* Name.Exception */
.highlight .nf { color: #ff8787; background-color: #080808 } /* Name.Function */
.highlight .nl { color: #5f5fff; background-color: #080808 } /* Name.Label */
.highlight .nn { color: #dfdfff; background-color: #080808 } /* Name.Namespace */
.highlight .nx { color: #dfdfff; background-color: #080808 } /* Name.Other */
.highlight .py { color: #dfdfff; background-color: #080808 } /* Name.Property */
.highlight .nt { color: #5f5fff; font-weight: bold; background-color: #080808 } /* Name.Tag */
.highlight .nv { color: #dfdf87; background-color: #080808 } /* Name.Variable */
.highlight .ow { color: #5fafff; background-color: #080808 } /* Operator.Word */
.highlight .w { color: #dfdfff; background-color: #080808 } /* Text.Whitespace */
.highlight .mf { color: #00df5f; background-color: #080808 } /* Literal.Number.Float */
.highlight .mh { color: #00af00; background-color: #080808 } /* Literal.Number.Hex */
.highlight .mi { color: #00af00; background-color: #080808 } /* Literal.Number.Integer */
.highlight .mo { color: #00af00; background-color: #080808 } /* Literal.Number.Oct */
.highlight .sb { color: #ffaf5f; background-color: #262626 } /* Literal.String.Backtick */
.highlight .sc { color: #ffaf5f; background-color: #262626 } /* Literal.String.Char */
.highlight .sd { color: #ffaf5f; background-color: #262626 } /* Literal.String.Doc */
.highlight .s2 { color: #ffaf5f; background-color: #262626 } /* Literal.String.Double */
.highlight .se { color: #ffaf5f; background-color: #262626 } /* Literal.String.Escape */
.highlight .sh { color: #ffaf5f; background-color: #262626 } /* Literal.String.Heredoc */
.highlight .si { color: #ffaf5f; background-color: #262626 } /* Literal.String.Interpol */
.highlight .sx { color: #ffaf5f; background-color: #262626 } /* Literal.String.Other */
.highlight .sr { color: #ffaf5f; background-color: #262626 } /* Literal.String.Regex */
.highlight .s1 { color: #ffaf5f; background-color: #262626 } /* Literal.String.Single */
.highlight .ss { color: #ffaf5f; background-color: #262626 } /* Literal.String.Symbol */
.highlight .bp { color: #dfdfff; background-color: #080808 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #dfdf87; background-color: #080808 } /* Name.Variable.Class */
.highlight .vg { color: #dfdf87; background-color: #080808 } /* Name.Variable.Global */
.highlight .vi { color: #dfdf87; background-color: #080808 } /* Name.Variable.Instance */
.highlight .il { color: #00af00; background-color: #080808 } /* Literal.Number.Integer.Long */
