.highlight .hll { background-color: #ffffcc }
.highlight  { background: #0b0a0a; color: #cfcfcf; background-color: #0b0a0a }
.highlight .c { color: #44444e; font-style: italic; background-color: #0b0a0a } /* Comment */
.highlight .err { color: #cfcfcf; background-color: #0b0a0a } /* Error */
.highlight .g { color: #cfcfcf; background-color: #0b0a0a } /* Generic */
.highlight .k { color: #dbb800; font-weight: bold; background-color: #0b0a0a } /* Keyword */
.highlight .l { color: #cfcfcf; background-color: #0b0a0a } /* Literal */
.highlight .n { color: #cfcfcf; background-color: #0b0a0a } /* Name */
.highlight .o { color: #cfcfcf; background-color: #0b0a0a } /* Operator */
.highlight .x { color: #cfcfcf; background-color: #0b0a0a } /* Other */
.highlight .p { color: #cfcfcf; background-color: #0b0a0a } /* Punctuation */
.highlight .cm { color: #44444e; font-style: italic; background-color: #0b0a0a } /* Comment.Multiline */
.highlight .cp { color: #8996ab; font-style: italic; background-color: #0b0a0a } /* Comment.Preproc */
.highlight .c1 { color: #44444e; font-style: italic; background-color: #0b0a0a } /* Comment.Single */
.highlight .cs { color: #44444e; font-style: italic; background-color: #0b0a0a } /* Comment.Special */
.highlight .gd { color: #f8f8f8; background-color: #d03620 } /* Generic.Deleted */
.highlight .ge { color: #73817d; text-decoration: underline; background-color: #0b0a0a } /* Generic.Emph */
.highlight .gr { color: #ffffff; background-color: #d8290e } /* Generic.Error */
.highlight .gh { color: #999966; background-color: #0b0a0a } /* Generic.Heading */
.highlight .gi { color: #f8f8f8; background-color: #41a83e } /* Generic.Inserted */
.highlight .go { color: #111010; background-color: #0b0a0a } /* Generic.Output */
.highlight .gp { color: #cfcfcf; background-color: #0b0a0a } /* Generic.Prompt */
.highlight .gs { color: #cfcfcf; background-color: #0b0a0a } /* Generic.Strong */
.highlight .gu { color: #999966; background-color: #0b0a0a } /* Generic.Subheading */
.highlight .gt { color: #cfcfcf; background-color: #0b0a0a } /* Generic.Traceback */
.highlight .kc { color: #dbb800; font-weight: bold; background-color: #0b0a0a } /* Keyword.Constant */
.highlight .kd { color: #dbb800; font-weight: bold; background-color: #0b0a0a } /* Keyword.Declaration */
.highlight .kn { color: #dbb800; font-weight: bold; background-color: #0b0a0a } /* Keyword.Namespace */
.highlight .kp { color: #dbb800; font-weight: bold; background-color: #0b0a0a } /* Keyword.Pseudo */
.highlight .kr { color: #dbb800; font-weight: bold; background-color: #0b0a0a } /* Keyword.Reserved */
.highlight .kt { color: #f6f080; background-color: #0b0a0a } /* Keyword.Type */
.highlight .ld { color: #cfcfcf; background-color: #0b0a0a } /* Literal.Date */
.highlight .m { color: #d3c788; background-color: #0b0a0a } /* Literal.Number */
.highlight .s { color: #4d6537; background-color: #0b0a0a } /* Literal.String */
.highlight .na { color: #e16521; font-weight: bold; background-color: #0b0a0a } /* Name.Attribute */
.highlight .nb { color: #cfcfcf; background-color: #0b0a0a } /* Name.Builtin */
.highlight .nc { color: #cfcfcf; background-color: #0b0a0a } /* Name.Class */
.highlight .no { color: #c0a368; background-color: #0b0a0a } /* Name.Constant */
.highlight .nd { color: #cfcfcf; background-color: #0b0a0a } /* Name.Decorator */
.highlight .ni { color: #ebac47; background-color: #0b0a0a } /* Name.Entity */
.highlight .ne { color: #cfcfcf; background-color: #0b0a0a } /* Name.Exception */
.highlight .nf { color: #e16521; font-weight: bold; background-color: #0b0a0a } /* Name.Function */
.highlight .nl { color: #cfcfcf; background-color: #0b0a0a } /* Name.Label */
.highlight .nn { color: #cfcfcf; background-color: #0b0a0a } /* Name.Namespace */
.highlight .nx { color: #cfcfcf; background-color: #0b0a0a } /* Name.Other */
.highlight .py { color: #cfcfcf; background-color: #0b0a0a } /* Name.Property */
.highlight .nt { color: #dbb800; font-weight: bold; background-color: #0b0a0a } /* Name.Tag */
.highlight .nv { color: #ae5251; background-color: #0b0a0a } /* Name.Variable */
.highlight .ow { color: #988155; background-color: #0b0a0a } /* Operator.Word */
.highlight .w { color: #cfcfcf; background-color: #0b0a0a } /* Text.Whitespace */
.highlight .mf { color: #d3c788; background-color: #0b0a0a } /* Literal.Number.Float */
.highlight .mh { color: #d3c788; background-color: #0b0a0a } /* Literal.Number.Hex */
.highlight .mi { color: #d3c788; background-color: #0b0a0a } /* Literal.Number.Integer */
.highlight .mo { color: #d3c788; background-color: #0b0a0a } /* Literal.Number.Oct */
.highlight .sb { color: #4d6537; background-color: #0b0a0a } /* Literal.String.Backtick */
.highlight .sc { color: #4d6537; background-color: #0b0a0a } /* Literal.String.Char */
.highlight .sd { color: #4d6537; background-color: #0b0a0a } /* Literal.String.Doc */
.highlight .s2 { color: #4d6537; background-color: #0b0a0a } /* Literal.String.Double */
.highlight .se { color: #4d6537; background-color: #0b0a0a } /* Literal.String.Escape */
.highlight .sh { color: #4d6537; background-color: #0b0a0a } /* Literal.String.Heredoc */
.highlight .si { color: #4d6537; background-color: #0b0a0a } /* Literal.String.Interpol */
.highlight .sx { color: #4d6537; background-color: #0b0a0a } /* Literal.String.Other */
.highlight .sr { color: #4d6537; background-color: #0b0a0a } /* Literal.String.Regex */
.highlight .s1 { color: #4d6537; background-color: #0b0a0a } /* Literal.String.Single */
.highlight .ss { color: #4d6537; background-color: #0b0a0a } /* Literal.String.Symbol */
.highlight .bp { color: #cfcfcf; background-color: #0b0a0a } /* Name.Builtin.Pseudo */
.highlight .vc { color: #ae5251; background-color: #0b0a0a } /* Name.Variable.Class */
.highlight .vg { color: #ae5251; background-color: #0b0a0a } /* Name.Variable.Global */
.highlight .vi { color: #ae5251; background-color: #0b0a0a } /* Name.Variable.Instance */
.highlight .il { color: #d3c788; background-color: #0b0a0a } /* Literal.Number.Integer.Long */
