.highlight .hll { background-color: #ffffcc }
.highlight  { background: #080a0c; color: #b0b0b0; background-color: #080a0c }
.highlight .c { color: #404a5c; background-color: #080a0c } /* Comment */
.highlight .err { color: #b0b0b0; background-color: #080a0c } /* Error */
.highlight .g { color: #b0b0b0; background-color: #080a0c } /* Generic */
.highlight .k { color: #506070; text-decoration: underline; background-color: #081018 } /* Keyword */
.highlight .l { color: #b0b0b0; background-color: #080a0c } /* Literal */
.highlight .n { color: #b0b0b0; background-color: #080a0c } /* Name */
.highlight .o { color: #b0b0b0; background-color: #080a0c } /* Operator */
.highlight .x { color: #b0b0b0; background-color: #080a0c } /* Other */
.highlight .p { color: #b0b0b0; background-color: #080a0c } /* Punctuation */
.highlight .cm { color: #404a5c; background-color: #080a0c } /* Comment.Multiline */
.highlight .cp { color: #706080; background-color: #181020 } /* Comment.Preproc */
.highlight .c1 { color: #404a5c; background-color: #080a0c } /* Comment.Single */
.highlight .cs { color: #404a5c; background-color: #080a0c } /* Comment.Special */
.highlight .gd { color: #b0b0b0; font-weight: bold; font-style: italic; background-color: #302020 } /* Generic.Deleted */
.highlight .ge { color: #b0b0b0; text-decoration: underline; background-color: #080a0c } /* Generic.Emph */
.highlight .gr { color: #a02000; font-weight: bold; text-decoration: underline; background-color: #ffffff } /* Generic.Error */
.highlight .gh { color: #f0f0f0; font-weight: bold; background-color: #080a0c } /* Generic.Heading */
.highlight .gi { color: #b0b0b0; font-weight: bold; background-color: #203030 } /* Generic.Inserted */
.highlight .go { color: #58626c; background-color: #282c30 } /* Generic.Output */
.highlight .gp { color: #b0b0b0; background-color: #080a0c } /* Generic.Prompt */
.highlight .gs { color: #b0b0b0; background-color: #080a0c } /* Generic.Strong */
.highlight .gu { color: #f0f0f0; font-weight: bold; background-color: #080a0c } /* Generic.Subheading */
.highlight .gt { color: #b0b0b0; background-color: #080a0c } /* Generic.Traceback */
.highlight .kc { color: #506070; text-decoration: underline; background-color: #081018 } /* Keyword.Constant */
.highlight .kd { color: #506070; text-decoration: underline; background-color: #081018 } /* Keyword.Declaration */
.highlight .kn { color: #506070; text-decoration: underline; background-color: #081018 } /* Keyword.Namespace */
.highlight .kp { color: #506070; text-decoration: underline; background-color: #081018 } /* Keyword.Pseudo */
.highlight .kr { color: #506070; text-decoration: underline; background-color: #081018 } /* Keyword.Reserved */
.highlight .kt { color: #909060; background-color: #080a0c } /* Keyword.Type */
.highlight .ld { color: #b0b0b0; background-color: #080a0c } /* Literal.Date */
.highlight .m { color: #4a8057; background-color: #080a0c } /* Literal.Number */
.highlight .s { color: #a05050; background-color: #080a0c } /* Literal.String */
.highlight .na { color: #d0a040; font-weight: bold; font-style: italic; background-color: #080a0c } /* Name.Attribute */
.highlight .nb { color: #b0b0b0; background-color: #080a0c } /* Name.Builtin */
.highlight .nc { color: #b0b0b0; background-color: #080a0c } /* Name.Class */
.highlight .no { color: #808080; background-color: #282a2c } /* Name.Constant */
.highlight .nd { color: #b0b0b0; background-color: #080a0c } /* Name.Decorator */
.highlight .ni { color: #a05050; background-color: #201010 } /* Name.Entity */
.highlight .ne { color: #d03000; font-weight: bold; background-color: #080a0c } /* Name.Exception */
.highlight .nf { color: #d0a040; font-weight: bold; font-style: italic; background-color: #080a0c } /* Name.Function */
.highlight .nl { color: #708090; background-color: #202830 } /* Name.Label */
.highlight .nn { color: #b0b0b0; background-color: #080a0c } /* Name.Namespace */
.highlight .nx { color: #b0b0b0; background-color: #080a0c } /* Name.Other */
.highlight .py { color: #b0b0b0; background-color: #080a0c } /* Name.Property */
.highlight .nt { color: #506070; text-decoration: underline; background-color: #081018 } /* Name.Tag */
.highlight .nv { color: #5080a0; background-color: #080a0c } /* Name.Variable */
.highlight .ow { color: #5070a0; background-color: #080a0c } /* Operator.Word */
.highlight .w { color: #b0b0b0; background-color: #080a0c } /* Text.Whitespace */
.highlight .mf { color: #6aa077; background-color: #080a0c } /* Literal.Number.Float */
.highlight .mh { color: #4a8057; background-color: #080a0c } /* Literal.Number.Hex */
.highlight .mi { color: #4a8057; background-color: #080a0c } /* Literal.Number.Integer */
.highlight .mo { color: #4a8057; background-color: #080a0c } /* Literal.Number.Oct */
.highlight .sb { color: #a05050; background-color: #080a0c } /* Literal.String.Backtick */
.highlight .sc { color: #a05050; background-color: #080a0c } /* Literal.String.Char */
.highlight .sd { color: #a05050; background-color: #080a0c } /* Literal.String.Doc */
.highlight .s2 { color: #a05050; background-color: #080a0c } /* Literal.String.Double */
.highlight .se { color: #a05050; background-color: #080a0c } /* Literal.String.Escape */
.highlight .sh { color: #a05050; background-color: #080a0c } /* Literal.String.Heredoc */
.highlight .si { color: #a05050; background-color: #080a0c } /* Literal.String.Interpol */
.highlight .sx { color: #a05050; background-color: #080a0c } /* Literal.String.Other */
.highlight .sr { color: #a05050; background-color: #080a0c } /* Literal.String.Regex */
.highlight .s1 { color: #a05050; background-color: #080a0c } /* Literal.String.Single */
.highlight .ss { color: #a05050; background-color: #080a0c } /* Literal.String.Symbol */
.highlight .bp { color: #b0b0b0; background-color: #080a0c } /* Name.Builtin.Pseudo */
.highlight .vc { color: #5080a0; background-color: #080a0c } /* Name.Variable.Class */
.highlight .vg { color: #5080a0; background-color: #080a0c } /* Name.Variable.Global */
.highlight .vi { color: #5080a0; background-color: #080a0c } /* Name.Variable.Instance */
.highlight .il { color: #4a8057; background-color: #080a0c } /* Literal.Number.Integer.Long */
