.highlight .hll { background-color: #ffffcc }
.highlight  { background: #000000; background-color: #000000 }
.highlight .c { font-style: italic; background-color: #000000 } /* Comment */
.highlight .err { background-color: #000000 } /* Error */
.highlight .g { background-color: #000000 } /* Generic */
.highlight .k { background-color: #000000 } /* Keyword */
.highlight .l { background-color: #000000 } /* Literal */
.highlight .n { background-color: #000000 } /* Name */
.highlight .o { background-color: #000000 } /* Operator */
.highlight .x { background-color: #000000 } /* Other */
.highlight .p { background-color: #000000 } /* Punctuation */
.highlight .cm { font-style: italic; background-color: #000000 } /* Comment.Multiline */
.highlight .cp { font-style: italic; background-color: #000000 } /* Comment.Preproc */
.highlight .c1 { font-style: italic; background-color: #000000 } /* Comment.Single */
.highlight .cs { font-style: italic; background-color: #000000 } /* Comment.Special */
.highlight .gd { color: #8a2be2; font-weight: bold; background-color: #008b8b } /* Generic.Deleted */
.highlight .ge { background-color: #000000 } /* Generic.Emph */
.highlight .gr { background-color: #8b0000 } /* Generic.Error */
.highlight .gh { color: #ff00ff; background-color: #000000 } /* Generic.Heading */
.highlight .gi { background-color: #00008b } /* Generic.Inserted */
.highlight .go { color: #404040; background-color: #000000 } /* Generic.Output */
.highlight .gp { background-color: #000000 } /* Generic.Prompt */
.highlight .gs { background-color: #000000 } /* Generic.Strong */
.highlight .gu { color: #ff00ff; background-color: #000000 } /* Generic.Subheading */
.highlight .gt { background-color: #ff0000 } /* Generic.Traceback */
.highlight .kc { background-color: #000000 } /* Keyword.Constant */
.highlight .kd { background-color: #000000 } /* Keyword.Declaration */
.highlight .kn { background-color: #000000 } /* Keyword.Namespace */
.highlight .kp { background-color: #000000 } /* Keyword.Pseudo */
.highlight .kr { background-color: #000000 } /* Keyword.Reserved */
.highlight .kt { background-color: #000000 } /* Keyword.Type */
.highlight .ld { background-color: #000000 } /* Literal.Date */
.highlight .m { background-color: #000000 } /* Literal.Number */
.highlight .s { background-color: #000000 } /* Literal.String */
.highlight .na { background-color: #000000 } /* Name.Attribute */
.highlight .nb { background-color: #000000 } /* Name.Builtin */
.highlight .nc { background-color: #000000 } /* Name.Class */
.highlight .no { background-color: #000000 } /* Name.Constant */
.highlight .nd { background-color: #000000 } /* Name.Decorator */
.highlight .ni { background-color: #000000 } /* Name.Entity */
.highlight .ne { background-color: #000000 } /* Name.Exception */
.highlight .nf { background-color: #000000 } /* Name.Function */
.highlight .nl { background-color: #000000 } /* Name.Label */
.highlight .nn { background-color: #000000 } /* Name.Namespace */
.highlight .nx { background-color: #000000 } /* Name.Other */
.highlight .py { background-color: #000000 } /* Name.Property */
.highlight .nt { background-color: #000000 } /* Name.Tag */
.highlight .nv { background-color: #000000 } /* Name.Variable */
.highlight .ow { background-color: #000000 } /* Operator.Word */
.highlight .w { background-color: #000000 } /* Text.Whitespace */
.highlight .mf { background-color: #000000 } /* Literal.Number.Float */
.highlight .mh { background-color: #000000 } /* Literal.Number.Hex */
.highlight .mi { background-color: #000000 } /* Literal.Number.Integer */
.highlight .mo { background-color: #000000 } /* Literal.Number.Oct */
.highlight .sb { background-color: #000000 } /* Literal.String.Backtick */
.highlight .sc { background-color: #000000 } /* Literal.String.Char */
.highlight .sd { background-color: #000000 } /* Literal.String.Doc */
.highlight .s2 { background-color: #000000 } /* Literal.String.Double */
.highlight .se { background-color: #000000 } /* Literal.String.Escape */
.highlight .sh { background-color: #000000 } /* Literal.String.Heredoc */
.highlight .si { background-color: #000000 } /* Literal.String.Interpol */
.highlight .sx { background-color: #000000 } /* Literal.String.Other */
.highlight .sr { background-color: #000000 } /* Literal.String.Regex */
.highlight .s1 { background-color: #000000 } /* Literal.String.Single */
.highlight .ss { background-color: #000000 } /* Literal.String.Symbol */
.highlight .bp { background-color: #000000 } /* Name.Builtin.Pseudo */
.highlight .vc { background-color: #000000 } /* Name.Variable.Class */
.highlight .vg { background-color: #000000 } /* Name.Variable.Global */
.highlight .vi { background-color: #000000 } /* Name.Variable.Instance */
.highlight .il { background-color: #000000 } /* Literal.Number.Integer.Long */
