.highlight .hll { background-color: #ffffcc }
.highlight  { background: #0f1216; color: #adadad; background-color: #0f1216 }
.highlight .c { color: #777777; font-style: italic; background-color: #0f1216 } /* Comment */
.highlight .err { color: #adadad; background-color: #0f1216 } /* Error */
.highlight .g { color: #adadad; background-color: #0f1216 } /* Generic */
.highlight .k { color: #5a89a4; font-style: italic; background-color: #0f1216 } /* Keyword */
.highlight .l { color: #adadad; background-color: #0f1216 } /* Literal */
.highlight .n { color: #adadad; background-color: #0f1216 } /* Name */
.highlight .o { color: #adadad; background-color: #0f1216 } /* Operator */
.highlight .x { color: #adadad; background-color: #0f1216 } /* Other */
.highlight .p { color: #adadad; background-color: #0f1216 } /* Punctuation */
.highlight .cm { color: #777777; font-style: italic; background-color: #0f1216 } /* Comment.Multiline */
.highlight .cp { color: #5567a1; font-style: italic; background-color: #0f1216 } /* Comment.Preproc */
.highlight .c1 { color: #777777; font-style: italic; background-color: #0f1216 } /* Comment.Single */
.highlight .cs { color: #777777; font-style: italic; background-color: #0f1216 } /* Comment.Special */
.highlight .gd { color: #bf6a6a; background-color: #2d1212 } /* Generic.Deleted */
.highlight .ge { color: #adadad; background-color: #0f1216 } /* Generic.Emph */
.highlight .gr { color: #727272; background-color: #0f1216 } /* Generic.Error */
.highlight .gh { color: #6d6d6d; font-weight: bold; background-color: #0f1216 } /* Generic.Heading */
.highlight .gi { color: #adadad; background-color: #5a7e5d } /* Generic.Inserted */
.highlight .go { color: #7e7e7e; font-weight: bold; background-color: #0f1216 } /* Generic.Output */
.highlight .gp { color: #adadad; background-color: #0f1216 } /* Generic.Prompt */
.highlight .gs { color: #adadad; background-color: #0f1216 } /* Generic.Strong */
.highlight .gu { color: #6d6d6d; font-weight: bold; background-color: #0f1216 } /* Generic.Subheading */
.highlight .gt { color: #6f6f6f; background-color: #0f1216 } /* Generic.Traceback */
.highlight .kc { color: #5a89a4; font-style: italic; background-color: #0f1216 } /* Keyword.Constant */
.highlight .kd { color: #5a89a4; font-style: italic; background-color: #0f1216 } /* Keyword.Declaration */
.highlight .kn { color: #5a89a4; font-style: italic; background-color: #0f1216 } /* Keyword.Namespace */
.highlight .kp { color: #5a89a4; font-style: italic; background-color: #0f1216 } /* Keyword.Pseudo */
.highlight .kr { color: #5a89a4; font-style: italic; background-color: #0f1216 } /* Keyword.Reserved */
.highlight .kt { color: #518991; font-weight: bold; font-style: italic; background-color: #0f1216 } /* Keyword.Type */
.highlight .ld { color: #adadad; background-color: #0f1216 } /* Literal.Date */
.highlight .m { color: #adadad; background-color: #0f1216 } /* Literal.Number */
.highlight .s { color: #5d7a64; font-style: italic; background-color: #0f1216 } /* Literal.String */
.highlight .na { color: #9784a2; font-weight: bold; background-color: #0f1216 } /* Name.Attribute */
.highlight .nb { color: #adadad; background-color: #0f1216 } /* Name.Builtin */
.highlight .nc { color: #adadad; background-color: #0f1216 } /* Name.Class */
.highlight .no { color: #8d5c57; font-weight: bold; background-color: #0f1216 } /* Name.Constant */
.highlight .nd { color: #adadad; background-color: #0f1216 } /* Name.Decorator */
.highlight .ni { color: #a7a863; background-color: #0f1216 } /* Name.Entity */
.highlight .ne { color: #adadad; background-color: #0f1216 } /* Name.Exception */
.highlight .nf { color: #9784a2; font-weight: bold; background-color: #0f1216 } /* Name.Function */
.highlight .nl { color: #adadad; background-color: #0f1216 } /* Name.Label */
.highlight .nn { color: #adadad; background-color: #0f1216 } /* Name.Namespace */
.highlight .nx { color: #adadad; background-color: #0f1216 } /* Name.Other */
.highlight .py { color: #adadad; background-color: #0f1216 } /* Name.Property */
.highlight .nt { color: #5a89a4; font-style: italic; background-color: #0f1216 } /* Name.Tag */
.highlight .nv { color: #a16f51; font-weight: bold; background-color: #0f1216 } /* Name.Variable */
.highlight .ow { color: #adadad; background-color: #0f1216 } /* Operator.Word */
.highlight .w { color: #adadad; background-color: #0f1216 } /* Text.Whitespace */
.highlight .mf { color: #adadad; background-color: #0f1216 } /* Literal.Number.Float */
.highlight .mh { color: #adadad; background-color: #0f1216 } /* Literal.Number.Hex */
.highlight .mi { color: #adadad; background-color: #0f1216 } /* Literal.Number.Integer */
.highlight .mo { color: #adadad; background-color: #0f1216 } /* Literal.Number.Oct */
.highlight .sb { color: #5d7a64; font-style: italic; background-color: #0f1216 } /* Literal.String.Backtick */
.highlight .sc { color: #5d7a64; font-style: italic; background-color: #0f1216 } /* Literal.String.Char */
.highlight .sd { color: #5d7a64; font-style: italic; background-color: #0f1216 } /* Literal.String.Doc */
.highlight .s2 { color: #5d7a64; font-style: italic; background-color: #0f1216 } /* Literal.String.Double */
.highlight .se { color: #5d7a64; font-style: italic; background-color: #0f1216 } /* Literal.String.Escape */
.highlight .sh { color: #5d7a64; font-style: italic; background-color: #0f1216 } /* Literal.String.Heredoc */
.highlight .si { color: #5d7a64; font-style: italic; background-color: #0f1216 } /* Literal.String.Interpol */
.highlight .sx { color: #5d7a64; font-style: italic; background-color: #0f1216 } /* Literal.String.Other */
.highlight .sr { color: #5d7a64; font-style: italic; background-color: #0f1216 } /* Literal.String.Regex */
.highlight .s1 { color: #5d7a64; font-style: italic; background-color: #0f1216 } /* Literal.String.Single */
.highlight .ss { color: #5d7a64; font-style: italic; background-color: #0f1216 } /* Literal.String.Symbol */
.highlight .bp { color: #adadad; background-color: #0f1216 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #a16f51; font-weight: bold; background-color: #0f1216 } /* Name.Variable.Class */
.highlight .vg { color: #a16f51; font-weight: bold; background-color: #0f1216 } /* Name.Variable.Global */
.highlight .vi { color: #a16f51; font-weight: bold; background-color: #0f1216 } /* Name.Variable.Instance */
.highlight .il { color: #adadad; background-color: #0f1216 } /* Literal.Number.Integer.Long */
